# exercises

## 1

In [59]:
class employee:
    def __init__(self,emp_name,emp_id,emp_salary,emp_dptmt):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_salary
        self.dptmt=emp_dptmt
    def assign_department(self):
        self.emp_dptmt=input()
        print(f"employee {self.name}'s department has been changed to {self.emp_dptmt}")
    def staff_details(self):
        print(f"staff_name:{self.name}")
        print(f"emp_id:{self.id}")
        print(f"emp_salary:{self.salary}")
        print(f"emp_dptmt:{self.emp_dptmt}")
    def staff_salary(self,hours_worked):
        if hours_worked>50:
            overtime=hours_worked-50
            Overtime_amount = (overtime *(self.salary / 50))
            total_salary=self.salary+Overtime_amount
        else:
            total_salary=self.salary
        return total_salary

emp1=employee("ADAMS", "E7876", 50000, "ACCOUNTING")
emp2=employee("JONES", "E7499", 45000, "RESEARCH")
emp3=employee("MARTIN", "E7900", 50000, "SALES")
emp4=employee("SMITH", "E7698", 55000, "OPERATIONS")

In [23]:
emp1.assign_department()

 marketing

employee ADAMS's department has been changed to marketing

In [55]:
emp2.staff_salary(56)

50400.0

In [61]:
emp1.staff_salary(50)

50000

In [25]:
emp1.staff_details()

staff_name:ADAMS
emp_id:E7876
emp_salary:50000
emp_dptmt:marketing

In [51]:
emp2.staff_details()

staff_name:JONES
emp_id:E7499
emp_salary:45000
emp_department:RESEARCH

In [53]:
emp3.staff_details()

staff_name:MARTIN
emp_id:E7900
emp_salary:50000
emp_department:SALES

In [55]:
emp4.staff_details()

staff_name:SMITH
emp_id:E7698
emp_salary:55000
emp_department:OPERATIONS

In [63]:
emp4.staff_salary(45)

55000

In [160]:
class restaurent:
    def __init__(self,menu_items,book_table,customer_orders):
        self.items=menu_items
        self.table=book_table
        self.order=customer_orders
    def add_item_to_menu(self):
        self.menu=input()
        self.items.append(self.menu)
        print(f"special items are:{self.items}")
    def book_tables(self):
        self.book=input()
        self.table.append(self.book)
        print(f"booked table is :{self.table}")
    def customer_order(self):
        self.customer_order=input()
        self.order.append(self.customer_order)
        print(f"total order is :{self.order}")
    def print_the_full_details(self):
         print(f"special items are:{self.items}")
         print(f"booked table is :{self.table}")
         print(f"total order is :{self.order}")

orders= restaurent(menu_items=["pasta","pizza"], book_table=[3,4], customer_orders=[1,2])

In [162]:
orders.add_item_to_menu()

 burger

special items are:['pasta', 'pizza', 'burger']

In [164]:
orders.book_tables()

 2

booked table is :[3, 4, '2']

In [166]:
orders.customer_order()

 pasta,pizza

total order is :[1, 2, 'pasta,pizza']