# exercises

## 1

In [59]:
class employee:
    def __init__(self,emp_name,emp_id,emp_salary,emp_dptmt):
        self.name=emp_name
        self.id=emp_id
        self.salary=emp_salary
        self.dptmt=emp_dptmt
    def assign_department(self):
        self.emp_dptmt=input()
        print(f"employee {self.name}'s department has been changed to {self.emp_dptmt}")
    def staff_details(self):
        print(f"staff_name:{self.name}")
        print(f"emp_id:{self.id}")
        print(f"emp_salary:{self.salary}")
        print(f"emp_dptmt:{self.emp_dptmt}")
    def staff_salary(self,hours_worked):
        if hours_worked>50:
            overtime=hours_worked-50
            Overtime_amount = (overtime *(self.salary / 50))
            total_salary=self.salary+Overtime_amount
        else:
            total_salary=self.salary
        return total_salary

emp1=employee("ADAMS", "E7876", 50000, "ACCOUNTING")
emp2=employee("JONES", "E7499", 45000, "RESEARCH")
emp3=employee("MARTIN", "E7900", 50000, "SALES")
emp4=employee("SMITH", "E7698", 55000, "OPERATIONS")

In [23]:
emp1.assign_department()

 marketing

employee ADAMS's department has been changed to marketing

In [55]:
emp2.staff_salary(56)

50400.0

In [61]:
emp1.staff_salary(50)

50000

In [25]:
emp1.staff_details()

staff_name:ADAMS
emp_id:E7876
emp_salary:50000
emp_dptmt:marketing

In [51]:
emp2.staff_details()

staff_name:JONES
emp_id:E7499
emp_salary:45000
emp_department:RESEARCH

In [53]:
emp3.staff_details()

staff_name:MARTIN
emp_id:E7900
emp_salary:50000
emp_department:SALES

In [55]:
emp4.staff_details()

staff_name:SMITH
emp_id:E7698
emp_salary:55000
emp_department:OPERATIONS

In [63]:
emp4.staff_salary(45)

55000

# exercises

## 2

In [81]:
class restaurent:
    def __init__(self,menu_items,book_table,customer_orders):
        self.items=menu_items
        self.table=book_table
        self.order=customer_orders
    def add_item_to_menu(self):
        self.menu=input()
        self.items.append(self.menu)
        print(f"special items are:{self.items}")
    def book_tables(self):
        self.book=input()
        self.table.append(self.book)
        print(f"booked table is :{self.table}")
    def customer_order(self):
        self.customer_order=input()
        self.order.append(self.customer_order)
        print(f"order is :{self.order}")
    def print_the_full_details(self):
         print(f"special items are:{self.items}")
         print(f"booked table is :{self.table}")
         print(f"order is :{self.order}")

orders= restaurent(menu_items=["pasta","pizza"], book_table=[3], customer_orders=['burger'])
orders.print_the_full_details()

special items are:['pasta', 'pizza']
booked table is :[3]
total order is :['burger']

In [83]:
orders.add_item_to_menu()
orders.book_tables()
orders.customer_order()

 dosa

special items are:['pasta', 'pizza', 'dosa']

 6

booked table is :[3, '6']

 meals

order is :['burger', 'meals']

In [87]:
orders.add_item_to_menu()

 meals

special items are:['pasta', 'pizza', 'dosa', 'meals']

In [89]:
orders.print_the_full_details()

special items are:['pasta', 'pizza', 'dosa', 'meals']
booked table is :[3, '6']
total order is :['burger', 'meals']

# exercises

## 3

In [31]:
class account:
    def __init__(self,accnt_num,accnt_blnce):
        self.accnt=accnt_num
        self.blnce=accnt_blnce
    def withdraw(self,amount):
        if self.blnce-amount>=0:
            self.blnce=self.blnce-amount
            print('your withraw amount is ',amount)
            print('your balance is ',self.blnce)
        else:
            print("withdrawal failed")
    def display(self):
        print(self.accnt,"your balance is ",self.blnce)

accnt1=account(99980116647020,50000)
accnt1.withdraw(32000)
accnt2=account(9980889085,34900)
accnt2.withdraw(13500)

your withraw amount is  32000
your balance is  18000
your withraw amount is  13500
your balance is  21400

# exercises

## 4

In [161]:
class inventory:
    def __init__(self,item_id,item_name,stock_count,price):
        self.id=item_id
        self.name=item_name
        self.count=stock_count
        self.price=price
    def update_item(self):
        self.updateid=input()
        self.updatename=input()
        self.updatecount=input()
        self.updateprice=input()
        self.id.append(self.updateid)
        self.name.append(self.updatename)
        self.count.append(self.updatecount)
        self.price.append(self.updateprice)
        print(f"new added item id {self.updateid} item name is {self.updatename} count is {self.updatecount} price is {self.updateprice}")

inventory1=inventory(item_id=[2,3,4],item_name=["watch","ring","bracelet"],stock_count=[5,3,6],price=[2000,1500,900])
inventory1.update_item()

 6
 shoe
 2
 1999

new added item id 6 item name is shoe count is 2 price is 1999